*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
    color: #000000;
}

header{
    display: flex;
    align-items: center;
    width: 700px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 80px;
}

header h1{
    margin: auto;
}

main{
    width: 700px;
    margin: auto;
    border: 1px solid black;
    padding: 20px 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.377);
}

button{
    padding: 8px;
    background-color: rgb(196, 196, 196);
    border: 1px solid black;
}

button:hover{
    background-color: rgb(134, 134, 134);
    cursor: pointer;
    color: white;
}