
main ul li{
    list-style-type: none;
    margin: 10px 0px;
}

.div_posts{
    margin: 20px 0px;
    border: 1px solid black;
    padding: 10px;
}

.div_posts > div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}









