.post_corpo{
    padding: 5px;
    border: 1px solid black;
}

label, input, textarea{
    width: 100%;

}

#btn_edit{

    margin-top: 5px;
    width: 100px;
    text-align: center;

}

textarea{
    margin-bottom: 5px;
}

.btn_excluir{

    background-color: rgba(212, 66, 66, 0.904);
    width: 100px;
}

.btn_excluir:hover{
    background-color: rgb(228, 51, 51);
}

#btn_cancel_edit{
    background-color: rgba(212, 66, 66, 0.904);
}

#btn_cancel_edit:hover{
    background-color: rgb(228, 51, 51);
}

